<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
        GuiaPress
    </a>

    <div class="navbar-nav mr-auto">

        <div class="nav-item">
            <a  class="nav-link" href="/">Home</a>
        </div>

        <% categories.forEach(category => { %>
            <div class="nav-item">
                <a  class="nav-link" href="/category/<%= category.slug %>"><%= category.title %></a>
            </div>
        <% }) %>
    </div>
    <div class="navbar-nav nav-item ml-auto">
        <a  class="nav-link" href="/login">Login</a>
    </div>
</nav>